*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
}
.header_container{
    width: 80%;
    height: 150px;
    background-color:rgb(80, 212, 150);
    display :flex;
    position: absolute;
    justify-content: center;
 margin-top: 100px ;
    margin-left: 100px;
   
}

.navbar1{
    width: 90%;
    height: 150px;
    background-color: rgb(80, 212, 150);
    display: flex;
    justify-content: left;
    align-items: center;
   
    position: absolute;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}
.logo img{
    height: 70%;
}


 .navlinks1{
   
    display: flex;
   /* flex-grow: 1;*/
   justify-content: right;
   align-items: center;
 margin-left: 490px;
 column-gap: 20px;
 margin-right:180px;
  
}

 .navlinks1 li{
    list-style-type: none;
}

 .navlinks1 li a{
    text-decoration: none;
    color: lightslategray;
    font-size: 25px;
    font-style: strong;
    font-family: 'Courier New';
    text-transform: capitalize;
   /* padding:20px;*/
   
}

.active a{
    color: black;
    font: bold;
}

 